@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body > *{
    font-family: 'Poppins', sans-serif;
}

#grid{
    max-width: 500px !important;
    display: grid;
    grid-template-columns: auto auto auto auto;
    min-width: 400px; 
}
#grid > img{
    object-fit: cover;
    width: 100%;
}
